<div id="shopify-section-footer" class="shopify-section">
            <div id="footer">
               <div class="f_mid">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-4 col-ms-6">
                           <h4>Danh mục</h4>
                           <ul>
                              <li><a href="https://cooktime.myshopify.com/pages/theme-features">Trang chủ</a></li>
                              <li><a href="http://showtime-furniture.myshopify.com/">Giới thiệu</a></li>
                              <li><a href="http://fashiontime-theme.myshopify.com/">Liên hệ</a></li>
                              <li><a href="https://cooktime.myshopify.com/pages/faq">Tư vấn</a></li>
                           </ul>
                        </div>
                        <div class="col-sm-4 col-ms-6">
                           <h4>Thông tin liên hệ</h4>
                           <div class="desc">
                              <p>This is a custom textbox widget that you can use for any text or HTML content you wish.</p>
                           </div>
                        </div>
                        <div class="col-sm-4 col-ms-6">
                           <h4>Theo dõi chúng tôi</h4>
                           <div class="desc">
                              Sign up for our newsletter and be the first to know about coupons and special promotions.
                           </div>                          
                           <div class="social">
                              <ul>
                                 <li class="twitter">
                                    <a href="https://twitter.com/shopify" target="_blank" title="Twitter"><span class="fa fa-twitter"></span></a>
                                 </li>
                                 <li class="facebook">
                                    <a href="https://facebook.com/shopify" target="_blank" title="Facebook"><span class="fa fa-facebook"></span></a>
                                 </li>
                                 <li class="pinterest">
                                    <a href="https://www.pinterest.com/shopify/" target="_blank" title="Pinterest"><span class="fa fa-pinterest"></span></a>
                                 </li>
                                 <li class="google">
                                    <a href="https://plus.google.com/+shopify" target="_blank" title="Pinterest"><span class="fa fa-google-plus"></span></a>
                                 </li>
                                 <li class="instagram">
                                    <a href="https://instagram.com/shopify" target="_blank" title="Instagram"><span class="fa fa-instagram"></span></a>
                                 </li>
                                 <li class="tumblr">
                                    <a href="https://www.tumblr.com/tagged/shopify" target="_blank" title="Tumblr"><span class="fa fa-tumblr"></span></a>
                                 </li>
                                 <li class="youtube">
                                    <a href="https://www.youtube.com/user/shopify" target="_blank" title="YouTube"><span class="fa fa-youtube"></span></a>
                                 </li>
                                 <li class="vimeo">
                                    <a href="https://vimeo.com/shopify" target="_blank" title="Vimeo"><span class="fa fa-vimeo-square"></span></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>               
            </div>
         </div>
         

