<div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
          <div class="sfbox box-page animated rollIn animation-done" data-animation="rollIn">
          	<div class="col-sm-12 text-center">
               <h3 style="    font-size: 17px;"><%$page_name%></h3>
               <hr style="border-top: 6px double #9b7d7d;">
               <!--<p><strong>The ShowTime theme is a fully-responsive and beautifully designed Shopify theme that is suitable for any product line. It comes packed with many advanced features, <a title="ShowTime Documentation" target="_blank" href="http://docs.milehighthemes.com/showtime/">extensive documentation</a>, and excellent native-English technical support.</strong></p>
               <hr>-->
            </div>
            <div class="rte">
              <div class="fr-element fr-view">
              <%$content%>
              </div>
            </div>
          </div>
        </div>